body {
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */

header {
    display: flex;
    justify-content: center; 
}

header img {
    padding: 20px;
}

/* Main */

.Localisation {
    display: flex;
    background-color: rgb(234, 234, 234);
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 15px 10px -15px rgb(104, 104, 104);
}

.Localisation p {
    margin: 0;
    padding: 13px;
    font-size: 18px;
    font-weight: 600;
}

.Introduction {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    align-items: center;
    padding-bottom: 20px;
}

.Introduction h2 {
    width: 55%;
    font-family: Roboto;
    font-weight: 900;
    text-align: center;
}

.Introduction p {
    width: 85%;
    color: rgb(105, 105, 105);
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.btn {
    width: fit-content;
    padding: 15px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
}

    /* Tuto */

.Tuto {
    display: flex;
    margin: 25px auto;
    height: 70px;
    align-items: center;
    background-color: rgb(243, 243, 243);
    box-shadow: 5px 10px 10px rgb(231, 231, 231);
    border-radius: 20px;
    width: 85%;
}

.Tuto p {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin: 15px;
}

.Tuto i {
    font-size: 20px;
    color: grey;
}

.Section-Tuto h2 {
    padding-left: 5%;
}

.Numero {
    width: 19px;
    border: 4px solid rgb(147,86,220);
    border-radius: 50%;
    background-color: rgb(147,86,220);
    color: white;
    font-weight: 500;
    position: relative;
    right: 20px
}




    /* Restaurants */

.Section-Restaurant {
    background-color: rgb(243, 243, 243);
    padding-bottom: 40px;
}

.Restaurant {
    margin: 5% 5% 0 5%;
    overflow: hidden;
    background-color: white;
    height: 240px;
    width: 90%;
    box-shadow: 5px 10px 20px rgb(190, 190, 190);
    border-radius: 20px;
}

.Restaurant img {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.fa-heart {
    position: relative;
    bottom: 18%;
    left: 90%;
    font-size: 25px;
    color: rgb(85, 85, 85);
}

.Section-Restaurant h2, .Section-Restaurant h3, .Section-Restaurant p {
    padding-left: 5%;
}

.Section-Restaurant h2 {
    padding-top: 20px;
}

.Section-Restaurant h3 {
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: 900;
}

.Section-Restaurant p {
    margin: 8px 0 0 0;
    font-size: 20px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 20px 5% 20px 5%;
}

footer p, footer i {
    color: rgb(230, 230, 230);
    font-weight: 500;
}

footer p {
    display: inline-block;
    margin-bottom: 0;
}

.test {
    color: white;
    font-family: Shrikhand,"cursive";
    font-size: 20px;
}

.fa-utensils {
    padding-right: 11px;
}

.fa-hands-helping {
    padding-right: 4px;
}

footer a {
    width: fit-content;
}